@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}
*{
    margin: 0;
    padding: 0;
}
/* banner-header section start here */
.banner-container{
    max-width:1320px;
    min-height: 660px;
    margin: 0 auto;
    background-color: rgba(0, 0,0, 0.5);
    margin-top: 20px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;

}
.banner-content{
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
     
.banner-content p, h1{
    color: white;
   
}
.banner-container p{
    font-size: 30px;
    font-weight: 500;
}
.banner-container h1{
    font-size: 52px;
    font-weight: 700;
}
/* banner-header section ends here */
.second-container{
    width:802px;
    height:806px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 90px;
    
}
.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.second-section h1{
    color: rgb(255, 0, 0);
    font-size: 75px;
    font-weight: 600px;
    font-family: inter;
}
.second-section p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500px;
    font-family: inter;
}
.second-section h3{
    color: rgb(7, 7, 17);
    font-size: 50px;
    font-weight: 700px;
    font-family: inter;
}
.images-pic{
    height: 500px;
    width: 800px;
}
.images-pic img{
    width: 100%;
    height: 100%;
}